/* 1. TRANSFORM: ROTATE */
.exercice-transform-rotate .block-blue {
  transform: rotate(50deg);
}

/* 2. TRANSFORM: TRANSLATE */
.exercice-transform-translate .block-blue {
  transform: TRANSLATE(100%);
}

/* 3. TRANSFORM: SCALE */
.exercice-transform-scale .block-blue {
  transform: SCALE(50%);
}

/* 4. ABSOLUTE & TRANSFORM */
.exercice-absolute-transform .container {
  position: relative;
}

.exercice-absolute-transform .block-blue {
  position: absolute;
  right: 0px;
  top: 0px;
}

.exercice-absolute-transform .block-black {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

/* 5. ABSOLUTE & TRANSFORM II */
.exercice-absolute-transform-2 .container {
  position: relative;
}

.exercice-absolute-transform-2 .block-blue {
  position: absolute;
  transform: translate(0%, 50%);
  bottom: 50%;
  right: 0%;
}

.exercice-absolute-transform-2 .block-red {
  position: absolute;
  transform: translate(0%, 50%);
  bottom: 50%;
}

.exercice-absolute-transform-2 .block-black {
  position: absolute;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
}

/* 6. ALL-IN */
.exercice-all-in .container {
  position: relative;
}

.exercice-all-in .block-blue {
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: scale(1.5);
  transform-origin: 100% 100%;
}

.exercice-all-in .block-black {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%) rotate(50deg);
}