/* 1. TRANSFORM: ROTATE */

.exercice-transform-rotate .block-blue {
  transform: rotate(45deg)
}

/* 2. TRANSFORM: TRANSLATE */

.exercice-transform-translate .block-blue {
  transform: translate(50px, 0%);
}

/* 3. TRANSFORM: SCALE */

.exercice-transform-scale .block-blue {
  transform: scale(0.5);
}

/* 4. ABSOLUTE & TRANSFORM */

.exercice-absolute-transform .container {
  position: relative;
}

.exercice-absolute-transform .block-blue {
  position: absolute;
  top: 0;
  right: 0;
}

.exercice-absolute-transform .block-black {
  position: absolute;
  top: 0;
  right: 43%;
}

.exercice-absolute-transform .block-red {
  position: absolute;
  top: 0;
  left: 0;
}

/* 5. ABSOLUTE & TRANSFORM II */

.exercice-absolute-transform-2 {
  position: relative;
}

.exercice-absolute-transform-2 .block-blue {
  position: absolute;
  right: 0;
  top: 38%;
}

.exercice-absolute-transform-2 .block-red {
  position: absolute;
  left: 0;
  top: 38%;
}

.exercice-absolute-transform-2 .block-black {
  position: absolute;
  top: 38%;
  left: 43%;
}

.exercice-absolute-transform-2 .block-red {
  position: absolute;
  left: 0;
  top: 38%;
}

/* 6. ALL-IN */
