/* 1. TRANSFORM: ROTATE */
.block-blue{
  transform: rotate(45deg);
}
/* 2. TRANSFORM: TRANSLATE */

/* 3. TRANSFORM: SCALE */

/* 4. ABSOLUTE & TRANSFORM */

/* 5. ABSOLUTE & TRANSFORM II */

/* 6. ALL-IN */
