/* 1. TRANSFORM: ROTATE */
.exercice-transform-rotate .block-blue {
  transform: rotate(45deg);
}
/* 2. TRANSFORM: TRANSLATE */
.exercice-transform-translate .block-blue {
  transform: translate(100%);
}
/* 3. TRANSFORM: SCALE */
.exercice-transform-scale .block-blue {
  transform:scale(50%);
}
/* 4. ABSOLUTE & TRANSFORM */
.exercice-absolute-transform .container {
  position: relative;
}
.exercice-absolute-transform .block-black {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}
.exercice-absolute-transform .block-blue {
  position: absolute;
  right: 0;
}
.exercice-absolute-transform .block-red {
  position: absolute;
}
/* 5. ABSOLUTE & TRANSFORM II */
.exercice-absolute-transform-2 .container {
  position: relative;
}
.exercice-absolute-transform-2 .block-black {
  position: absolute;
  right: 50%;
  transform: translate(50%, 150%);
}
.exercice-absolute-transform-2 .block-blue {
  position: absolute;
  right: 0;
  transform: translate(0%, 150%);
}
.exercice-absolute-transform-2 .block-red {
  position: absolute;
  transform: translate(0%, 150%);
}
/* 6. ALL-IN */
