/* 1. TRANSFORM: ROTATE */

.exercice-transform-rotate .block-blue {
  transform: rotate(45deg);
}

/* 2. TRANSFORM: TRANSLATE */

.exercice-transform-translate .block-blue {
  transform: translate(100%);
}

/* 3. TRANSFORM: SCALE */

.exercice-transform-scale .block-blue {
  transform: scale(0.5)
}

/* 4. ABSOLUTE & TRANSFORM */

.exercice-absolute-transform .container {
  position: relative;
}

.exercice-absolute-transform .block-blue {
  position: absolute;
  top: 0;
  right: 0;
}

.exercice-absolute-transform .block-black {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%);
}


/* 5. ABSOLUTE & TRANSFORM II */

/* 6. ALL-IN */
